<!doctype html>
<html>
<head>
<title>Advanced Bioinformatics</title>
</head>
<body>
<h1>PairwiseAlign</h1>

	
	<h2>Sequences</h2>
		<h3>You can type your sequence manually<h3>
<div>
<form action="/results" method="POST">
	<label for="input_seq1">Your sequence 1:</label>
	<input id="input_seq1" type="text" name="input_seq1">
    <br>
<form action="/results" method="POST">
	<label for="input_seq2">Your sequence 2:</label>
	<input id="input_seq2" type="text" name="input_seq2">
    <br>	
	<input type="submit" name="submit" value="Run">

	
</form>
</div>
</body>
</html>
